# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# The secret token for your Cloudflare Tunnel, obtained from the Cloudflare Zero Trust dashboard after creating the tunnel.
TUNNEL_TOKEN=