# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# The user ID the container(s) will run as
UID=1000
# The group ID the container(s) will run as
GID=1000

# The secret token for your Cloudflare Tunnel, obtained from the Cloudflare Zero Trust dashboard after creating the tunnel.
TUNNEL_TOKEN=<your_tunnel_token>